<p id="notice"><%= notice %></p>

<p>
  <strong>Carmodel:</strong>
  <%= @inventory.carmodel %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @inventory.status %>
</p>


<%if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_inventory_path(@inventory) %>
<% end %> |
<%= link_to 'Back', inventories_path %>
