<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dealership.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @dealership.address %>
</p>


<%if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_dealership_path(@dealership) %>
<% end %>
<%= link_to 'Back', dealerships_path %>
